.commonLayout {
  bottom: calc(env(safe-area-inset-bottom) + 80px);
  position: fixed;
  right: 10px;
  z-index: 500;
  width: 40px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px 0px;
  transition: background-color 0.25s ease 0s, height 0.25s ease 0s;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 602px) {
  .commonLayout {
    right: 50%;
    transform: translateX(290px);
  }
}

.noneCategory {
  display: none; 
  appearance: none;
  background: none;
}

.allCategory {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-appearance: none; 
  font-family: inherit;
  font-size: inherit;
  border: 0px;
  cursor: pointer;
  line-height: 1.5;
}

.allCategory span {
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  font-family: Pretendard, "Apple SD Gothic Neo", Roboto, "Noto Sans KR", sans-serif;
}

.manCategory {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  display: flex;
  width: 100%;
  height: 48px;
  background-color: rgb(255, 255, 255); 
  color: rgb(110, 110, 110);
  font-family: inherit;
  font-size: inherit;
  border: 0px;
  cursor: pointer;
  line-height: 1.5;
}

.manCategory span {
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  font-family: Pretendard, "Apple SD Gothic Neo", Roboto, "Noto Sans KR", sans-serif;
}

.womenCategory {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  display: flex;
  width: 100%;
  height: 48px;
  background-color: rgb(255, 255, 255); 
  color: rgb(110, 110, 110);
  font-family: inherit;
  font-size: inherit;
  border: 0px;
  cursor: pointer;
  line-height: 1.5;
}

.womenCategory span {
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  font-family: Pretendard, "Apple SD Gothic Neo", Roboto, "Noto Sans KR", sans-serif;
}
