.noticeBox{
    width: 90%;
    height: 90px;
    /* background-color: bisque; */
    margin: 10px auto 0;
    border: 1px solid rgb(239, 243, 244);
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}
.noticeLeft{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}
.noticeUserImg{
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: rgb(255, 190, 190);
}
.noticeRight{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: azure; */
    padding-left: 10px;
}
.noticeComment{
    max-width: 90%;
}
.userName{
    display: inline-block;
    font-weight: 900;
}
.txtTop{
    display: inline-block;
}
.txtBottom{
    width: 100%;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.txt{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 95%;
    
}
.noticeAgo{
    display: inline-block;
    padding-left: 8px;
    color: gray;
    font-size: 14px;
    font-weight: 400;
}

@media all and (max-width: 500px) {
    .noticeRight{
        font-size: 15px;
    }

    .noticeAgo{
        display: block;
        padding-left: 0;
    }
}
