.card {
  background-color: white;
  display: flex;
  position: relative;
  flex: 0 0 calc(33.3333%);
  width: calc(33.3333%);
  flex-direction: column;
}

.cover {
  position: relative;
  width: 100%; /* 부모 요소에 대해 100% 너비를 가지도록 설정 */
  padding-top: 120%; /* 240px(높이) / 200px(너비) * 100 */
  overflow: hidden;
}

.cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 요소에 꽉 차도록 설정 */
}

.body {
  min-width: 0px;
}

.title {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;

  text-overflow: ellipsis;
}

.description {
  color: rgb(170, 170, 170);
  text-overflow: ellipsis;
  font-size: 12px;
}
