.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
    position: relative;
  }
  
  .header{
    align-items: center;
    background-color: white;
    width: inherit;
    height: 64px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-color: rgb(239, 243, 244);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .header span{
    margin: auto;
    font-weight: 900;
  }