/* seeMore.module.css */
.alert-dialog-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 400px; /* 최대 너비 설정 */
  width: 80%; /* 너비를 100%로 설정 */
}

.alert-dialog-content h2 {
  margin-bottom: 10px;
}

.alert-dialog-content p {
  margin-bottom: 10px;
}

.alert-dialog-header {
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-weight: bold;
}

.alert-dialog-body {
  margin-bottom: 24px;
  font-size: 1rem;
}

.alert-dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.alert-dialog-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.btn-cancel {
  background-color: #fff; /* 배경색 */
  border: 1px solid #e1e1e1; /* 테두리 설정 */
  color: #333; /* 텍스트 색상 */
  padding: 8px 16px; /* 패딩 */
  font-size: 14px; /* 폰트 크기 */
  font-weight: 500; /* 폰트 굵기 */
  border-radius: 4px; /* 모서리 둥글게 */
  cursor: pointer; /* 커서 스타일 */
  box-shadow: none; /* 그림자 제거 */
  outline: none; /* 포커스 아웃라인 제거 */}

.btn-cancel:hover, .btn-delete:hover {
  background-color: #f9f9f9; /* 호버 시 배경색 */
}

.btn-delete {
  background-color: #fff; /* 배경색 */
  border: 1px solid #e1e1e1; /* 테두리 설정 */
  color: #dc2626; /* 텍스트 색상 */
  padding: 8px 16px; /* 패딩 */
  font-size: 14px; /* 폰트 크기 */
  font-weight: 500; /* 폰트 굵기 */
  border-radius: 4px; /* 모서리 둥글게 */
  cursor: pointer; /* 커서 스타일 */
  box-shadow: none; /* 그림자 제거 */
  outline: none; /* 포커스 아웃라인 제거 */
}
