.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  position: relative;
}

.imageWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.hairInfoWrapper {
  /* display: flex;
  position: relative; */
  flex-direction: column;
  padding: 52px 32px 30px 32px;
}

.hairName {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 17px;
}

.hairSalon {
  line-height: 1.46;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
}

.hairSalonAddress {
  font-size: 13px;
  line-height: 1.46;
  color: rgb(170, 170, 170);
  cursor: pointer;
  text-decoration: underline;
}

.postDate{
  font-size: 13px;
  line-height: 1.46;  
  margin-top: 6px;

}

.userBadge {
  display: flex;
  align-items: center;
  padding: 0px 32px;
}

.userBadge a {
  display: flex;
  align-items: center;
}

.userName {
  font-size: 20px;
  font-weight: 550;
  margin-left: 10px;
}

.content {
  margin: 0px 32px 32px 32px;
  min-height: 100px;
  white-space: pre-wrap; /* Preserve whitespace, and wrap when needed */
  word-wrap: break-word; /* Break words to fit within the width */
  word-break: break-all; /* Break all words */
}



