.header {
  align-items: center;
  background-color: white;
  height: 64px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  border-color: rgb(239, 243, 244);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.form {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
}
  

.inputDiv {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
}
  
.input{
padding: 16px 10px;
border: none;
background-color: #F3F3F3;
border-radius: 5px;
font-family: Pretendard-Regular, sans-serif;
font-size: 15px;
}

.searchButton {
display: inline-block;
position: absolute;
right: 0;
align-items: center;
justify-content: flex-start;
padding-left: 4px;
background: none;
border: none;
cursor: pointer;
margin-right: 26px;
margin-top: 2px;
}

.body{
  margin: 15px 26px;
  cursor: pointer;
}
.salonName{
  font-weight: 900;
  font-size: 20px;
}
.salonAddress{
  font-weight: 400;
  color: gray;
}
.placeCategory{
  font-size: 13px;
  font-weight: 500;
  color: rgb(53, 53, 53);
}

@media all and (min-width: 602px) {
    .input{
        width: 510px;
        margin-left: 26px;
    }
}